
html {
    min-height: 100%;
    position: relative;
}
body {
    color: #777777;
    margin: 0 0 55px 0; /* Margin bottom by footer height */
    background: url('../imgs/concrete-texture.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar--lesspad {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-bottom: 5px solid #7777;
}

.headstone {
    float: left;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0;
    background-color: #4aaaa5;
    border: 10px solid #4aaaa5;
}

.abouts {
    margin-top: 20px;
    background-color: #ffffff;
    padding-top: 10px;
}

.selfie {
    float: left;
    margin: 15;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
}

.h1abt {
    border-bottom: solid 2px #dddddd;
    padding-bottom: 25px;
}

.inlink {
     text-decoration: none;
     color: #777777;
}

.btn-turq {
    background-color: #4aaaa5;
    color: white;
}

.btn-turq:hover {
    background-color: white;
    color: #4aaaa5;
}

.feeter {
    height: 55px;
    text-align: center;
    background: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    overflow: auto;
}

.main {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.contact {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.proj {
    display: inline-block;
    position: relative;
}

.projlnk {
    width: 100%;
}

.projlabel {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    position: absolute;
    bottom: 10px;
    line-height: 40px;
    left: 0;
    right: 0;
    margin: 0;
}

.projlabel a {
    color: #ffffff;
    text-decoration: none;
}
